3to2==1.1.1
aiofiles==0.3.1
aiohttp==2.2.5
alabaster==0.7.10
altgraph==0.15
anaconda-client==1.6.5
anaconda-navigator==1.6.8
anaconda-project==0.8.0
aniso8601==2.0.0
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
argon2-cffi==18.1.0
arrow==0.10.0
asn1crypto==0.22.0
astroid==1.5.3
astropy==2.0.2
async-timeout==2.0.0
attrs==17.2.0
autoapi==1.3.1
autodoc==0.3
Automat==0.6.0
Babel==2.5.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
binaryornot==0.4.4
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.0.0
bokeh==0.12.7
boto==2.48.0
Bottleneck==1.2.1
brewer2mpl==1.4.1
bs4==0.0.1
Cartopy==0.15.1
certifi==2018.1.18
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudpickle==0.4.0
clyent==1.2.2
colorama==0.3.9
conda==4.4.10
conda-build==3.0.22
conda-verify==2.0.0
configparser==3.5.0
constantly==15.1.0
contextlib2==0.5.5
cookiecutter==1.5.1
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.2
cryptography==2.0.3
cssselect==1.0.1
cycler==0.10.0
Cython==0.26.1
cytoolz==0.8.2
dask==0.15.2
datashape==0.5.4
decorator==4.1.2
defusedxml==0.5.0
distributed==1.18.3
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11
django-allauth==0.34.0
django-cors-headers==2.2.0
django-crispy-forms==1.7.0
django-debug-toolbar==1.8
django-dotenv==1.4.2
django-environ==0.4.4
django-extensions==1.9.7
django-filter==1.1.0
django-modelcluster==4.1
django-rest-framework==0.1.0
django-rest-swagger==2.1.2
django-taggit==0.22.2
django-tastypie==0.14.1
django-toolbelt==0.0.1
django-treebeard==4.3
djangorestframework==3.8.2
docutils==0.14
dominate==2.3.1
draftjs-exporter==2.0.0
entrypoints==0.2.3
environ==1.0
et-xmlfile==1.0.1
Faker==0.8.11
fastcache==1.0.2
filelock==2.0.12
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.3
Flask-REST==1.3
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
Flask-WTF==0.14.2
future==0.16.0
gdata==2.0.18
gevent==1.2.2
ggplot==0.11.5
glob2==0.5
gmpy2==2.0.8
google-api-python-client==1.6.5
greenlet==0.4.12
gunicorn==19.7.1
h5py==2.7.0
heapdict==1.0.0
html5lib==0.999999999
httpie==0.9.9
httplib2==0.10.3
humanfriendly==4.10
hyperlink==17.1.1
hypothesis==3.23.0
icalendar==3.12
idna==2.6
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
isort==4.2.15
itsdangerous==0.24
itypes==1.1.0
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jinja2-time==0.2.0
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
lazy-object-proxy==1.3.1
ldap3==1.0.4
llvmlite==0.20.0
locket==0.2.0
lxml==4.9.1
macholib==1.9
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.7.4
mpmath==0.19
msgpack-python==0.4.8
multidict==3.2.0
multipledispatch==0.4.9
mypy==0.560
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.2.4
networkx==1.11
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
numba==0.35.0+6.gaa35fb1
numexpr==2.6.2
numpy==1.13.1
numpydoc==0.7.0
oauth2client==4.1.2
oauthlib==2.0.6
odo==0.5.1
olefile==0.44
openapi-codec==1.3.2
openpyxl==2.4.8
OWSLib==0.15.0
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.2
paramiko==2.1.2
parsel==1.2.0
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
pdfkit==0.6.1
pefile==2017.11.5
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pipenv==11.10.1
pkginfo==1.4.1
ply==3.10
poyo==0.4.1
prompt-toolkit==1.0.15
proofreader==0.0.1
psutil==5.4.3
psycopg2==2.7.3.1
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
PyDispatcher==2.0.5
pyepsg==0.3.2
pyexif==0.2.1
pyflakes==1.5.0
pygame==1.9.3
Pygments==2.2.0
PyInstaller==3.3
pylint==1.7.2
pymongo==3.4.0
Pympler==0.5
pyodbc==4.0.17
pyOpenSSL==17.2.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyproj==1.9.5.1
PyQt5==5.10.1
pyshp==1.2.12
PySocks==1.6.7
pytest==3.2.1
python-dateutil==2.6.1
python-mimeparse==1.6.0
python-oauth2==1.0.1
python-slugify==1.2.4
python3-openid==3.1.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
queuelib==1.4.2
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
roman==2.0.0
rope==0.10.5
rsa==3.4.2
ruamel-yaml==0.11.14
scikit-image==0.13.0
scikit-learn==0.19.0
scikits.bootstrap==0.3.3
scipy==0.19.1
Scrapy==1.4.0
seaborn==0.8
selenium==3.8.1
service-identity==17.0.0
sh==1.12.14
Shapely==1.6.2
simplegeneric==0.8.1
simplejson==3.12.0
singledispatch==3.4.0.3
sip==4.19.8
six==1.10.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
Sphinx==1.6.3
sphinx-autodoc-typehints==1.2.3
sphinxcontrib-websupport==1.0.1
spyder==3.2.3
SQLAlchemy==1.1.13
sqlparse==0.2.4
static3==0.7.0
statsmodels==0.8.0
suds-jurko==0.6
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
terminado==0.6
testpath==0.3.1
text-unidecode==1.2
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
Twisted==17.5.0
typed-ast==1.1.0
typing==3.6.2
unicodecsv==0.14.1
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
virustotal2==1.1
visitor==0.1.3
w3lib==1.18.0
wagtail==2.0.1
wagtailfontawesome==1.1.3
waitress==1.1.0
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.7.3
WebTest==2.0.29
Werkzeug==0.12.2
whichcraft==0.4.1
widgetsnbextension==3.0.2
Willow==1.1
wrapt==1.10.11
WTForms==2.1
xlrd==1.1.0
XlsxWriter==0.9.8
xlwings==0.11.4
xlwt==1.2.0
yarl==0.13.0
zict==0.1.2
zope.interface==4.4.2
